In [ ]:
#  for loops 

# i is interator 
# range() : interble

for i in range(1,10):
    print(i)

In [ ]:
# multiplication table useing  for loop

n = int(input("Enter the Number which one  you want to get  table : "))
for i in range(1,11):
    print(n,"X",i,"=",n*i)

In [ ]:
i = int(input("enter no of rows : "))

j = int(input("enter  no of column : "))


for row in range(i):
    for col in range(j):
        print("*",end= " ")
    print("")

In [41]:
i = int(input("enter no of rows : "))

j = int(input("enter  no of column : "))


for row  in range(i):
    for col in range(j):
        if(col <= row):
            print("*" ,end=" ")
        else:
            print(" " ,end = " ")
    print("")

enter no of rows :  4
enter  no of column :  4

*
* *
* * *
* * * *

In [49]:
n = int(input("Enter the number of the row"))

for row in range(n , 0,-1):
   print("*"*row)

Enter the number of the row 5

*****
****
***
**
*

In [54]:
n = int(input("Enter the number of rows: "))

for i in range(1, n + 1):
    print("_" * (n - i) + "*" * (2 * i - 1))

Enter the number of rows:  7

______*
_____***
____*****
___*******
__*********
_***********
*************

In [2]:
def print_pattern(n, pattern_type):
    for i in range(1, n + 1):
        if pattern_type == "pyramid":
            spaces = n - i  # Calculate leading spaces
            symbols = 2 * i - 1  # Calculate number of stars
            print(" " * spaces + "*" * symbols)

        elif pattern_type == "right_triangle":
            symbols = i  # Number of stars equals row index
            print("*" * symbols)

        elif pattern_type == "inverted_triangle":
            symbols = n - i + 1  # Stars decrease as rows increase
            print("*" * symbols)

        elif pattern_type == "diamond":
            # Upper part
            spaces = n - i
            symbols = 2 * i - 1
            print(" " * spaces + "*" * symbols)
        # Lower part
        if i == n:  # After last row of upper part
            for j in range(n - 1, 0, -1):
                spaces = n - j
                symbols = 2 * j - 1
                print(" " * spaces + "*" * symbols)

        elif pattern_type == "butterfly":
            # Upper wings
            left = i  # Left stars
            right = i  # Right stars
            middle = 2 * (n - i)  # Spaces between wings
            print("*" * left + " " * middle + "*" * right)
        # Lower wings
        if i == n:  # After last row of upper wings
            for j in range(n - 1, 0, -1):
                left = j
                right = j
                middle = 2 * (n - j)
                print("*" * left + " " * middle + "*" * right)

# Example Usage
n = 5
print_pattern(n, "pyramid")  # Change pattern_type to see other patterns

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *
****  ****
***    ***
**      **
*        *

In [3]:
n = int(input("Enter the  pattern size : "))
for i  in range(n):
    for j in range (i,n):
        print("_" ,end=" ")
    for j in range (i+1):
        print("*",end=" ")
    print("")

Enter the  pattern size :  5

_ _ _ _ _ *
_ _ _ _ * *
_ _ _ * * *
_ _ * * * *
_ * * * * *

In [15]:
n = int(input("Enter the  pattern size : "))
for i  in range(n):
   
    for j in range (i):
        print("_",end=" ")
    for j in range (i,n):
        print("*" ,end=" ")
    print("")

Enter the  pattern size :  20

* * * * * * * * * * * * * * * * * * * *
_ * * * * * * * * * * * * * * * * * * *
_ _ * * * * * * * * * * * * * * * * * *
_ _ _ * * * * * * * * * * * * * * * * *
_ _ _ _ * * * * * * * * * * * * * * * *
_ _ _ _ _ * * * * * * * * * * * * * * *
_ _ _ _ _ _ * * * * * * * * * * * * * *
_ _ _ _ _ _ _ * * * * * * * * * * * * *
_ _ _ _ _ _ _ _ * * * * * * * * * * * *
_ _ _ _ _ _ _ _ _ * * * * * * * * * * *
_ _ _ _ _ _ _ _ _ _ * * * * * * * * * *
_ _ _ _ _ _ _ _ _ _ _ * * * * * * * * *
_ _ _ _ _ _ _ _ _ _ _ _ * * * * * * * *
_ _ _ _ _ _ _ _ _ _ _ _ _ * * * * * * *
_ _ _ _ _ _ _ _ _ _ _ _ _ _ * * * * * *
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ * * * * *
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ * * * *
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ * * *
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ * *
_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ *

In [67]:
n = int(input("Enter no of row you wan to wish print : "))

for i in range(n):
    for j in range(i, n):
        print(" ", end=" ")
    for j in range(i):
        print("*", end=" ")
    for j in range(i + 1):
        print("*", end=" ")
    print("")

Enter no of row you wan to wish print :  6

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *

In [69]:
n = int(input("Enter no of row you wan to wish print : "))
for i in range(n):
    for j in range (i):
        print(" ",end=" ")
    for j in range (i,n):
        print("*",end=" ")
    for j in range(i+1,n):
        print("*" ,end=" ")
    print("")

Enter no of row you wan to wish print :  6

* * * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *